body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Main Box */
.container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    z-index: 10;
}

/* Buttons */
button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}

#yesBtn {
    background-color: #ff4d6d;
    color: white;
}

#yesBtn:hover {
    transform: scale(1.1);
}

#noBtn {
    background-color: #555;
    color: white;
    position: relative;
}

/* Final Text */
.final-text {
    font-size: 32px;
    color: #ff2e63;
    animation: glow 2s infinite alternate;
}

.love-msg {
    font-size: 20px;
    margin-top: 15px;
    color: #ff4d6d;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #ff4d6d,
                     0 0 10px #ff4d6d;
    }
    to {
        text-shadow: 0 0 15px #ff99ac,
                     0 0 25px #ff99ac;
    }
}

/* Next Button */
.next-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4d6d;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
}

.next-btn:hover {
    transform: scale(1.1);
}

.video-title {
    margin-top: 20px;
    color: #ff2e63;
}
.love-video {
    width: 100%;
    height: 50vh;  /* 80% of screen height */
    margin-top: 20px;
    border-radius: 15px;
    object-fit: cover;
}

/* Letter */
.letter-text {
    font-size: 18px;
    line-height: 1.6;
}

/* Floating Hearts */
.hearts span {
    position: absolute;
    bottom: -50px;
    animation: float 8s linear infinite;
}

@keyframes float {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-100vh); opacity: 0; }
}
